<md-toolbar>

<nav mat-tab-nav-bar="">
  <app-login></app-login>
  <a mat-tab-link="" routerLink='home' routerLinkActive="active">Home</a>
  <a mat-tab-link="" routerLink="exercise-list" routerLinkActive="active">Exercise List</a>
  <a mat-tab-link="" routerLink="profile-page" routerLinkActive="active">Profile</a>
  <a mat-tab-link="" routerLink="current-session" routerLinkActive="active">Current Session</a>
</nav>
  <button md-raised-button="" (click)="sendData('Navbar send')">Send MSG</button>
  <app-ui-auth></app-ui-auth>

</md-toolbar>

