<p>
  exercise-form works!
</p>

<h3>New Exercise Form</h3>

<label class="label">Name: </label>

<input placeholder="Exercise Name" class="input"
       [(ngModel)]="exercise.name"
       required minlength="2" maxlength="23"
       #title='ngModel' autofocus>

<div *ngIf="name">
  <span *ngIf='name.errors; then errors else valid'>template renders here...</span>
</div>


<button class="button is-primary" (click)='createExercise()' [disabled]="!title.valid">Create</button>


<ng-template #valid>
  <p class="help is-success">looks good!</p>
</ng-template>

<ng-template #errors>
  <p class="help is-danger">form contains errors!</p>
</ng-template>
